
# PlanAhead Generated physical constraints 
NET "LED_GPIO[7]" LOC = AE24;
NET "LED_GPIO[6]" LOC = AD24;
NET "LED_GPIO[5]" LOC = AD25;
NET "LED_GPIO[4]" LOC = G16;
NET "LED_GPIO[3]" LOC = AD26;
NET "LED_GPIO[2]" LOC = G15;
NET "LED_GPIO[1]" LOC = L18;
NET "LED_GPIO[0]" LOC = H18;
NET "AUDIO_BIT_CLK" LOC = AF18;
NET "AUDIO_RESET" LOC = AG17;
NET "AUDIO_SDATA_IN" LOC = AE18;
NET "AUDIO_SDATA_OUT" LOC = AG16;
NET "AUDIO_SYNC" LOC = AF19;
NET "CPU_RESET_B" LOC = E9;
NET "CLK_33MHZ" LOC = AH17;

# PlanAhead Generated IO constraints 
NET "AUDIO_BIT_CLK" IOSTANDARD = LVCMOS33;
NET "AUDIO_RESET" IOSTANDARD = LVCMOS33;
NET "AUDIO_SDATA_IN" IOSTANDARD = LVCMOS33;
NET "AUDIO_SDATA_OUT" IOSTANDARD = LVCMOS33;
NET "AUDIO_SYNC" IOSTANDARD = LVCMOS33;
NET "LED_GPIO[4]" IOSTANDARD = LVCMOS25;
NET "LED_GPIO[2]" IOSTANDARD = LVCMOS25;
NET "LED_GPIO[1]" IOSTANDARD = LVCMOS25;
NET "LED_GPIO[0]" IOSTANDARD = LVCMOS25;
NET "LED_GPIO[3]" IOSTANDARD = LVDCI_18;
NET "LED_GPIO[5]" IOSTANDARD = LVDCI_18;
NET "LED_GPIO[6]" IOSTANDARD = LVDCI_18;
NET "LED_GPIO[7]" IOSTANDARD = LVDCI_18;
NET "CPU_RESET_B" IOSTANDARD = LVDCI_33;
NET "CLK_33MHZ" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc5vlx110t-ff1136-1) - 2014/08/02
NET "CLK_33MHZ" TNM_NET = CLK_33MHZ;
TIMESPEC TS_CLK_33MHZ = PERIOD "CLK_33MHZ" 33 MHz HIGH 50%;
NET "AUDIO_BIT_CLK" TNM_NET = AUDIO_BIT_CLK;
TIMESPEC TS_AUDIO_BIT_CLK = PERIOD "AUDIO_BIT_CLK" 12.288 MHz HIGH 50%;
